body{
	margin: 0;
	font-family: 'Verdana', sans-serif;
	font-size: 16px;
}

*{
	box-sizing: border-box;
}

p, pre{
	margin: 0 0 10px 0;
}

a{
	text-decoration: none;
	transition:  opacity .1s linear;
	color: #02457A;
}

a:hover {
	color: #0686EC;
}

a.icons{
	background-image: url(img/Icon_png_Sprite_1.png);
	background-repeat: no-repeat;
	width: 20px;
	height: 16px;
	display: inline-block;
}

a.mailbox_white{ 
	background-position: left -30px; 
	margin-right: 5px; 
}

a.phone_white{ 
	background-position: left -66px;
	margin-right: 5px; 
}

a.place_white{ 
	background-position: left -102px;
	margin-right: 5px; 
}

a.place_blue{ 
	background-position: left -136px;
	margin-right: 5px; 
}

a.time_blue{ 
	background-position: left -164px;
	margin-right: 5px; 
}

a.reviews_blue{ 
	background-position: left -194px;
	margin-right: 5px; 
}

a.star{ 
	background-position: left 1px;
	margin-right: 5px; 
}

/* Container
===================*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

/* Header
===================*/

.header{
	width: 100%;
	height: 60px;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	box-shadow: 0 2px 0 rgba(0,0,0,0.1);
}

.header__content{
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}


/* Nav
===================*/

.header__nav{
	display: flex;
	font-size: 16px;
	font-weight: 700;
}

.header__nav_link{
	padding: 10px;
	margin-left: 15px;
	color: #BEBFBF;
	text-decoration: none;
	opacity: 0.75;

	transition:  opacity .1s linear;
}

.header__nav_link:first-child {
    margin-left: 0;

}

.header__nav_link:hover {
	opacity: 1;
}

.header__nav_phone_link{
	margin-left: 205px;
	padding: 5px 0;
}
/* Intro
===================*/

.intro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	top: 60px;
	height: 655px;
	width: 100%;
	z-index: 4;
	overflow: hidden;
	margin-bottom: 25px;
}

.intro__video_content{
	position: absolute;
	top:0;
    left:0;
	width: 100%;
	background-size: cover;
	z-index: -100;
}

.intro__content{
	width: 100%;
	max-width: 970px;
	margin: 0 0 0 100px;
}

.intro__title{
	margin: 0 0 15px 0;
	font-family: 'Lora', serif;
	color: #fff;
	font-size: 36px;
	line-height: 46px;
	font-weight: 400;
	text-align: left;
}

.intro__subtitle{
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	line-height: 24px;
	font-family: Verdana, sans-serif;
	text-align: left;
	width: 387px;
	height: 144px;
	margin-bottom: 25px;
}


/* Btn
===================*/
.btn__callback_box {
	display: inline-block;
    vertical-align: top;
	
	height: 36px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    padding: 9px 42px;

    font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    text-align: center;

    transition: background .3s linear;
}

.btn__clicnic_item {
	display: inline-block;
    vertical-align: top;
    padding: 10px;
    float: right;
	
	margin-top: -38px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    text-align: center;

    transition: background .3s linear;
}

.btn {
	display: inline-block;
    vertical-align: top;
    padding: 10px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    text-align: center;

    transition: background .3s linear;
}

.btn--blue{
	background-color: #0686EC;
}

.btn--blue:hover {
    background-color: #045fa9;
    color: #fff;
}

/* Search
===================*/

.search{
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	margin:100px 150px 50px;
	background-color: #02457A;
	box-shadow: 3px 4px 8px rgba(6, 86, 150, 0.32); 
	width: 900px;
}

.search__content{
	padding: 25px 20px;
	width: 420px;
}

.search__title{
	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #fff;
	
	padding: 0 0 12px 0;
	margin: 0;

}

input.search__mrt_search[type="search"] {
	width: 385px;
	height: 35px;
	padding: 10px;

	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #C9C9C9;
}

input.search__mrt_city[type="search"] {
	width: 385px;
	height: 35px;
	padding: 10px;

	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #C9C9C9;
}

/* Search_change
===================*/

.search__change{
	display: flex;
	flex-direction: column;
	margin: 275px 0 0 0;
	padding: 0;

	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;

	color: #272829;
}

.search__button{
	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	cursor: pointer;

	color: #FFFFFF;
	background: #02457A;
	border: 2px solid #02457A; 
	box-shadow: 3px 4px 8px rgba(6, 86, 150, 0.32); 
	transition-duration: 0.6s;

}

.search__button:hover {
	background-color: #fff; /* Green */
	color: #000;
	box-shadow: 3px 4px 8px rgba(6, 86, 150, 0.1); 

}


/* Clinic_list
===================*/

.clinics{
	margin: 30px 0 70px;
}

.clinic_list{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	
}

.clinic_list__item{
	width: 49.3%;
	height: 245px;
	background: #FFFFFF;
	box-shadow: 2px 4px 8px rgba(201, 201, 201, 0.16);
	padding: 15px;
	margin-bottom: 30px;
}

.clinic_list__item:nth-child(2n+1){
	margin-right: auto;
}

.clinic_list__rate{
	font-family: Lora, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;

	color: #5A5D60;
	float: right;
}

.clinic_list__image{
	float: left;
	margin-right: 12px;
}

.clinic_list__title{
	margin: 0;
	font-family: Lora, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	color: #272829;
	margin-bottom: 10px;
}

.clinic_list__subtitle{
	margin: 0;

	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
}

.clinic_list__price{
	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
}

.clinic_list__price{
	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #272829;

	width: 100%;
	border-spacing: 0;
	margin-bottom: 20px;
}

table.clinic_list__price td{
	width: 50%;
	vertical-align: top; 
}

td.rightcol{
	text-align: right;
	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;

	color: #272829;
}

.clinic_list__title_callback{
	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;

	color: #272829;
}

/* Callback_box
===================*/

.callback_box{
	display: flex;
	align-items: flex-end;
	height: 279px;
	width: 100%;
	margin-bottom: 85px;
}

.callback_box__rectangle_content{
	position: absolute;
	width: 100%;
	height: 191px;
	background-color: #02457A;

}

.callback_box__img_docs{
	margin-left: 315px;
	z-index: 3;
}

.callback_box__title_box{
	margin: 50px 0 50px 250px;
	text-align: center;

}

h2.callback_box__title_box_content{
	margin-bottom: 10px;
	margin-left: -530px;

	font-family: Lora, sans-serif;
	font-style: normal;
	font-size: 36px;
	line-height: 46px;
	font-weight: 400;


	color: #FFFFFF;
}

input.callback_box__name[type="name"] {
	width: 280px;
	height: 35px;
	padding: 10px;

	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #272829;
	margin-right: 24px;
}

input.callback_box__tel[type="tel"] {
	width: 280px;
	height: 35px;
	padding: 10px;

	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #272829;
	margin-right: 24px;
}

/* Comment
===================*/

.comment{
	display: flex;
	justify-content: space-between;
	height: 350px;
	width: 100%;
	margin-bottom: 90px;
}

.comment__title{
	font-family: Lora, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 46px;

	color: #272829;
}

.comment__content{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.comment__item{
	width: 30%;
	padding: 5px;
	margin-right: auto;
}

.comment__dots_img{
	margin-bottom: 18px;
}

.comment__subtitle{
	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	height: 144px;

	color: #575757;
}

.comment__blockquote_box{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.comment__blockquote_box__author_data{
	float: right;
	margin: 20px 0 4px 0;


	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;

	color: #272829;
}

.comment__blockquote_box__author_data_date{
	float: right;
	margin: 0;


	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;

	text-align: center;

	color: #AAAAAA;	
}

/* Footer
===================*/
footer{
	width: 100%;
	height: 375px;
	background-color: #02457A
}

.footer__content{
	display: flex;
	flex-direction: row;
}

.footer__item{
	width: 25%;
	display: flex;
	flex-direction: column;
	height: 45px;
	margin-top: 70px;
}

.footer__logobox{
	display: flex;
	flex-direction: row;
}

.footer__logobox_logo{
	margin-right: 25px;
}

h4.footer__service_footer_title{
	
	margin: 0 0 14px 0;
	font-family: Lora, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	
	color: #FFFFFF;
}

.footer__service_footer_title_list{
	margin-bottom: 16px;
	text-decoration: none;
	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;

	color: #FFFFFF;
}	

.footer__contact_information_footer_title{
	margin-left: 5px;
	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;

	color: #FFFFFF;
}

.footer__contact_information_footer_title{
	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;

	color: #FFFFFF;
	margin-right: 15px;

}

input.footer__name_box[type="text"] {
	width: 282px;
	height: 36px;

	margin-bottom: 16px;
	padding: 10px;
	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;

	color: #AAAAAA;
}

input.footer__tel_box[type="tel"] {
	width: 282px;
	height: 36px;

	margin-bottom: 16px;
	padding: 10px;
	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;

	color: #AAAAAA;
}

input.footer__text_box[type="text"] {
	width: 282px;
	height: 72px;

	margin-bottom: 16px;
	padding: 10px;
	font-family: Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;

	color: #AAAAAA;
}

/* Media
===================*/

@media (max-width: 1440px){

	/* Callback_box*/
	.img_docs{
	margin-left: 80px;
	}
}

@media (max-width: 1900px) and (min-width: 1440px){

	/* Callback_box*/
	.img_docs{
	margin-left: 50px;
	}
}